@media screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__nav {
      margin-top: 20px;
      margin-bottom: 20px; }
    .footer__nav-item {
      display: block;
      margin: 0;
      margin-top: 15px;
      margin-bottom: 15px; } }

@media screen and (max-width: 480px) {
  .main {
    overflow: hidden; }
  .slider .slick-arrow {
    z-index: 91;
    top: 50%;
    margin-top: -10px; }
  .slider .arr-prev {
    left: 5px; }
  .slider .arr-next {
    right: 5px; }
  .slide {
    height: 405px !important; }
  .slider-wrap {
    height: 880px; }
    .slider-wrap .logo {
      display: none; }
    .slider-wrap .slogan {
      font-size: 25px; }
    .slider-wrap__blocks {
      display: block; }
    .slider-wrap__left {
      height: 405px;
      z-index: 91;
      width: 60%;
      margin: 0 auto;
      text-align: center; }
    .slider-wrap__right {
      position: relative;
      bottom: 0;
      width: 100%; }
  .front-search__form-wrap {
    display: none;
    z-index: 10;
    pointer-events: none; }
    .front-search__form-wrap:after {
      content: "\2715";
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 30px;
      pointer-events: all; }
  .front-search__left {
    width: 100%; }
  .front-search__right {
    width: 100%; }
  .front-search__left-icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .title-wrap {
    width: 90%;
    text-align: center; }
    .title-wrap h2 {
      font-size: 20px; }
      .title-wrap h2 span {
        font-size: 40px; }
  .ticket-complect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ticket-complect__left {
      min-width: 100%;
      max-width: 100%; }
    .ticket-complect__left-top {
      margin: 0 auto; }
    .ticket-complect__left-mid {
      margin: 0;
      margin-top: 30px; }
    .ticket-complect__left-bottom {
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 80px; }
    .ticket-complect__img-complect {
      right: 50%;
      top: 56%;
      -webkit-transform: translate(50%) rotate(90deg);
              transform: translate(50%) rotate(90deg); }
    .ticket-complect__right {
      margin-top: 61px; }
    .ticket-complect__row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -3px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .ticket-complect__block {
      max-width: 50%;
      width: 48%;
      height: auto;
      margin-right: 0;
      margin: 1px; }
      .ticket-complect__block img {
        height: auto;
        width: 100%; }
  .row {
    padding-top: 20px; }
  .gallery .slick-slide img {
    width: 100%; }
  .event-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .event {
    margin-top: 60px; }
  .entertainment-wrap {
    margin-left: 0; }
  .entertainment {
    width: 100%;
    margin-left: 0; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__nav {
      margin-top: 20px;
      margin-bottom: 20px; }
    .footer__nav-item {
      display: block;
      margin: 0;
      margin-top: 15px;
      margin-bottom: 15px; } }
